$hamburger-padding-x: 0;
$hamburger-padding-y: 0.25rem;
$hamburger-layer-width: 1.5rem;
$hamburger-layer-height: 0.125rem;
$hamburger-layer-spacing: 0.35rem;
$hamburger-layer-color: #1A202C;

$hamburger-types: (
  // 3dx,
  // 3dx-r,
  // 3dy,
  // 3dy-r,
  // 3dxy,
  // 3dxy-r,
  // arrow,
  // arrow-r,
  // arrowalt,
  // arrowalt-r,
  // arrowturn,
  // arrowturn-r,
  // boring,
  // collapse,
  // collapse-r,
  // elastic,
  // elastic-r,
  // emphatic,
  // emphatic-r,
  // minus,
  // slider,
  // slider-r,
  spring,
  // spring-r,
  // stand,
  // stand-r,
  // spin,
  // spin-r,
  // squeeze,
  // vortex,
  // vortex-r
);

@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
